<div class="frame">
  <div class="center">
    
		<div class="profile">
			<div class="image">
				<div class="circle-1"></div>
				<div class="circle-2"></div>
                <%= image_tag("logo.png",  height: '70', width: '70') %>
			</div>
			
			<div class="name"><%= @user.name %></div>
			<div class="job"> <%= @user.nationality%> </div>
			
			<div class="actions">
			
			</div>
		</div>

		<div class="stats">
			<div class="box">
				<span class="value">Email:</span>
				<span class="parameter"><%= @user.email %></span>
			</div>
			<div class="box">
				<span class="value">Phone:</span>
				<span class="parameter"> <%= @user.phone %> </span>
			</div>
			<div class="box">
				<span class="value">City:</span>
				<span class="parameter"><%= @user.city.name%></span>
			</div>
		</div>
  </div>
</div>