  <div class = "informtion">
  <% @user.each do |item| %>
<figure class="snip1336">
  <img src="https://source.unsplash.com/user/erondu" alt="sample87" />
  <figcaption>
    <h2><%=item.name%><span><%=item.age%></span></h2>
    <p> <%= item.description %> <%= item.nationality %> </p>
    <p> <%= item.phone %> <%= item.description %> </p>
    <p><%=item.care %> <p>

    <a href="#" class="follow">request</a>
    <a href="#" class="info">More Info</a>
  </figcaption>
</figure>
<% end %>
</div>