<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="framesignin">
  <div class="centersignin">
    
		<div class="profilesignin">
			<div class="imagesignin">
        <div class="imgsignin1">
    <img src="https://i.ibb.co/hWwBP8N/logo.png",  height= '50', width= '70' alt=""/>
			</div>
			
			<div class="fieldsignin">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
		

  <div class="fieldsignin">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="fieldsignin">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

			<div class="actionssignin">
				<button class="btn"> <%= link_to 'Log in', user_session,  class: "brown log-in" %></button>
			</div>
		</div>


<% end %>

<div style="bottom: 0px; position:absolute;left: 33%; 
    font-size: 10pt;
    padding-top: 10px;
    padding-bottom: 20px;
    margin: auto 0px;">
<%= render "devise/shared/links" %>
</div>
