<button type="button" class="btn btn-primary child">Child-Care</button>
<button type="button" class="btn btn-success senior">Senior-Care</button>

<div class = "childDesplay">
<%= form_for(@request) do |f| %>
 
<div class= "formRequst22">
  <label class= "labelRequst">
    <p class="label-txt">0 to 6 months</p>
    <%= f.text_field :age,  :class => 'input' %>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
    <label  class= "labelRequst">
    <p class="label-txt">6 months to 3 years</p>
    <%= f.number_field :explainsituation, :class => 'input' %>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label  class= "labelRequst">
    <p class="label-txt">3 to 7 years</p>
    <%= f.number_field :note, :class => 'input' %>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label  class= "labelRequst">
    <p class="label-txt">Allergies if any?</p>
    <%= f.text_field :allergies ,:class => 'input'  %>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
   <label  class= "labelRequst">
    <%= f.datetime_field :date %>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label >
  
   <%= f.submit 'Create Request' , class: "submit" %>
 
</div>






   <% end %>
  <%= link_to 'Back', requests_path %>
</div>

<div class = "seniorDesplay">
<%= form_for(@request) do |f| %>
  <div class="field">
    <%= f.label :age, "Age:" %>
    <%= f.number_field :age,  {min: 18} %>
      </div>
    <div class="field">
    <%= f.label :gender, "Gender:" %>
    <%= f.text_field :gender %>
        </div>
    <div class="field">
    <%= f.label :explainsituation, "Explain situation:" %>
    <%= f.text_field :explainsituation %>
  </div>
  <div class="field">
    <%= f.label :note, "Note:" %>
    <%= f.text_field :note %>
  </div>
 <div class="field">
    <%= f.label :date, "Choose prefered date and time:" %>
    <%= f.datetime_field :date %>
  </div>
  <h5>
    <%= f.submit 'Create Request' %>
  </h5>
  <% end %>
  <%= link_to 'Back', requests_path %>
</div>
