<div class = "childDesplay">
<%= form_for(@request) do |f| %>
 
  <div class="field">
    <%= f.label :age, "0 to 6 months" %>
    <%= f.number_field :age,  {min: 0, max: 5} %>
  </div>

    <div class="field">
    <%= f.label :allergies, "Allergies if any?" %>
    <%= f.text_field :allergies %>
  </div>
  <div class="field">
    <%= f.label :date, "Choose prefered date:" %>
    <%= f.date_field :date %>
  </div>
  <div>
  <p>
    <%= f.submit 'Create Request' %>
  </p> 
   <% end %>
<%= link_to 'Back', requests_path %>

</div>


<%= simple_form_for @request do |f| %>
  <%= f.input :age %>
  <%= f.input :allergies %>
  <%= f.button :submit %>
<% end %>
