<h1>Request Caregiver for Child-Care</h1>

<table>
<tr>
 <h4>The number of childen on category you'll be be help with:</h4>
</tr>
    <tr>
     <td>   <h2>0 to 6 months m<%=@request.age%>m</td></h2>
    </tr>
    <tr>
     <td>   <h2>6 months to 3 years<%=@request.age2%>m</td></h2>
    </tr>
    <tr>
     <td>   <h2>3 to 7 years<%=@request.age3%>m</td></h2>
    </tr>
    <tr>
     <td>   <h2>7 years and above<%=@request.age4%>m</td></h2>
    </tr>
    <tr>
        <h2><td> <%=@request.age2%></td></h2>
    </tr>
     <tr>
        <h2><td> <%=@request.age3%></td></h2>
    </tr>
     <tr>
        <h2>7 years and above<td>yoyo<%=@request.age4%></td></h2>
    </tr>
</table>

