<div class = "informtion">
<figure class="snip1336">
  
  <figcaption>
    <h2>Name of Caredom <%= @request.gender %> <span>Chaild</span></h2>
     the Caredom has a number of children: <%= @request.explainsituation.to_i  + @request.age + @request.note.to_i  %> 
     </br>
     Age:
      </br>
    0 to 6 months : <%= @request.age%>
 </br>
    6 months to 3 years : <%=@request.explainsituation %>
     </br>
    3 to 7 years : <%=@request.note %> 
</br>
<% data= @request.date.to_s.split(" ")%>
in a day :<%= data[0]%>
</br>
allergies : <%= @request.allergies %>
</br>

In the hour: <%= data[1]%> PM
</p>

    <p>   </p>
  
<% if @request.request_status == 0%>

    <a class="follow foo" id="<%=@request.id %>">Request </a>
   
    <% elsif @request.request_status == 1 %>
    <a  class="follow bool" id="<%=@request.id %>">hanging ⏰</a>
<% else%>
    <a class="follow sool">taken </a>

    <% end %>

  </figcaption>
</figure>

</div>