<div class = "childDesplay">
<h1>Requested Caregiver for Child-Care</h1>

<table>
    <tr>
    <h4>The number of childen on each age category caregiver will help with:</h4>
    </tr>
        <tr>
        <td>   <h2>0 to 6 months:<%=@request.age%></td></h2>
        </tr>
        <tr>
        <td>   <h2>6 months to 3 years:<%=@request.age2%></td></h2>
        </tr>
        <tr>
        <td>   <h2>3 to 7 years:<%=@request.age3%></td></h2>
        </tr>
        <tr>
        <td>   <h2>7 years and above:<%=@request.age4%></td></h2>
        </tr>
        <tr>
        <td>   <h2>Allergies:<%=@request.allergies%></td></h2>
        </tr>
        <tr>
        <td>   <h2>Date and Time:<%=@request.date%></td></h2>
        </tr>
</table>
</div>

<div class = "seniorDesplay">
<h1>Requested Caregiver for Senior-Care</h1>

<table>
    <tr>
    <h4>The senior information that needs caregiver help:</h4>
    </tr>
        <tr>
        <td>   <h2>Senior age:<%=@request.age%></td></h2>
        </tr>
        <tr>
        <td>   <h2>Gender:<%=@request.gender%></td></h2>
        </tr>
        <tr>
        <td>   <h2>Situation:<%=@request.explainsituation%></td></h2>
        </tr>
        <tr>
        <td>   <h2>Note:<%=@request.note%></td></h2>
        </tr>
        <tr>
        <td>   <h2>Date and Time:<%=@request.date%></td></h2>
        </tr>
</table>
</div>