Bootstrap CSS
<link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
<div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        	<br />
        	<div class="card-columns">
	        	<div class="card" style="max-width:319px;">

	        		<div class="card-block text-right">
                    	<img src="https://i.ibb.co/hWwBP8N/logo.png" class="card-img-top" alt="Card image" />
	        			<h4 class="card-title">About US</h4>
	        			<p class="card-text">Caredom is company that offers services for family member specifically for family, to manage their needs with their kids or senior care. The name Caredom came from Care as;caring and the dom; for the kingdom of Saudi Arabia.</p>
	        			<button class="btn"><%= link_to "More", :class => 'navbar-link', class: "brown" %></button>
	        		</div>
	        	</div>

	        	<div class="card" style="max-width:319px;">
	        		<img src="https://i.ibb.co/hWwBP8N/logo.png" class="card-img-top" alt="Card image" />
	        		<div class="card-block text-right">
	        			<h4 class="card-title">Contact US</h4>
	        			<p class="card-text">Caredom will avaiable to answer all your question and concerns 24/7. <br/> name: Cardom manager "Abdullah" <br/> Phone: +966 555555555 <br/> Email: info@caredom.con<br/> name: Cardom Assistant "Nouf" <br/> Phone: +966 555555555 <br/> Email: assist@caredom.con</p>
	        			<button class="btn"><%= link_to "More", :class => 'navbar-link', class: "brown" %></button>
	        		</div>
	        	</div>

	        	<div class="card" style="max-width:319px;">
                    <img src="https://i.ibb.co/hWwBP8N/logo.png" class="card-img-top" alt="Card image" />
	        		<div class="card-block text-right">
	        			<h4 class="card-title">Registration</h4>
                        <p class="card-text">Signup to register to benefit from our Caredom service.</p>
	        			<button class="btn"><%= link_to "Register",  :class => 'navbar-link', class: "brown" %></button>

	        		</div>
	        	</div>
        	</div>
        </div>
      </div>
    </div>

<div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

  <%= render "devise/shared/error_messages", resource: resource %>


<%# Sing Up %>

<div class=" register">
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                <div class="row">
                    <div class="col-md-3 register-left">
                        <img src="https://i.ibb.co/hWwBP8N/logo.png" alt=""/>

                        <h3>Welcome</h3>
                        <input type="submit" name="" value="Login"/><br/>
                    </div>
                    <div class="col-md-9 register-right">
                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active Parent " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Caredom</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link Nanny" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Caregiver</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active paentDesplay" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <h3 class="register-heading">Apply as a Caredom Member:</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                       <%= f.text_field :name %>
                                        </div>
                                        <div class="form-group">
                                           <%= f.text_field :phone %>
                                        </div>
                                        <div class="form-group">
                                    <% if @minimum_password_length %>
                                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                                        <% end %><br />
                                        <%= f.password_field :password, autocomplete: "new-password" %>                                        </div>
                                                                            <div class="form-group">
                                        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                                                                            </div>
                                        <div class="form-group">
                                            <div class="maxl">
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="male" checked>
                                                    <span> Male </span> 
                                                </label>
                                                <label class="radio inline"> 
                                                    <input type="radio" name="gender" value="female">
                                                    <span>Female </span> 
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                            <%= f.hidden_field :care, :value => 'true' %>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                       <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                        </div>
                                        <div class="form-group">
                                         <%= f.text_field :nationality %>
                                        </div>
                                        <div class="form-group">
                                             <%= f.collection_select(:city_id, City.all.order(:name), :id, :name, {} ,class: "custom-select select22" ) %>

                                        </div>
                                    
                                 <%= f.submit "Sign up" , class:"btnRegister"  %>
                                    </div>
                                                                                                                                                    <%end%>

                                </div>
                            </div>

      
                            <div class="tab-pane fade show nannyDesplay" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <h3  class="register-heading">Apply as a Caregiver Member:</h3>
                                <div class="row register-form">
                                    <div class="col-md-6">                                    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

                                        <div class="form-group">
    <%= f.text_field :name %>
                                        </div>
                                        <div class="form-group">
    <%= f.text_field :phone %>
                                        </div>
                                        <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                                        </div>
                                        <div class="form-group">
    <%= f.text_field :nationality %>
                                        </div>
 <div class="field form">
    <%= f.hidden_field :care, :value => 'false' %>
  </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
 <% if @minimum_password_length %>
  
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>                                        </div>
                                        <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                                        </div>
                                        <div class="form-group">
                                             <%= f.collection_select(:city_id, City.all.order(:name), :id, :name, {} ,class: "custom-select select22" ) %>

                                        </div>
                                        <div class="form-group">
                                    <%= f.number_field :age,  {min: 18} %>
                                        </div>
 <div class="form-group">
                                            <%= f.text_field :experience %>
                                        </div>

                                         <%= f.submit "Sign up" , class: "btnRegister" %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<% end %>