<h2>Sign up</h2>
<%= @name %>
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<button type="button" class="btn btn-outline-secondary Parent">Caredom Member</button>
<button type="button" class="btn btn-outline-secondary Nanny ">Caregiver Member</button>


 <div class = "paentDesplay">

  <div class="field form">
    <%= f.text_field :name %>
  </div>

  <div class="field form">
    <%= f.hidden_field :care %>
  </div>


  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :nationality %><br />
    <%= f.text_field :nationality %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.collection_select(:city_id, City.all.order(:name), :id, :name, {} ,class: "custom-select select22" ) %>

  </div>

  <div class="field">
    <%= f.text_field :nationality %>
  </div>


  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>


<div class = "nannyDesplay">
<%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div class="field form">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.collection_select(:city_id, City.all, :id, :name, {} ,class: "custom-select select22" ) %>
  </div>

  <div class="field">
    <%= f.label :city %><br />
    <%= f.collection_select(:city_id, City.all.order(:name), :id, :name, {} ,class: "custom-select select22" ) %>
    <%= f.text_field :nationality %>

  </div>


  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field :age,  {min: 18} %>

  </div>


   <div class="field">
    <%= f.text_field :experience %>
  </div>

  <div class="field">
    <%= f.text_field :description %>
  </div>

  
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
</div>

